/* 3 tipos de selectores
por etiqueta -> afectan a todas las etiquetas
por clase .  -> afectan a todas las etiquetas que tengan esa clase
por id # -> afecta solo al elemento que tiene ese id
para posicionar:
el padre debe de ser: relative
y para poder mover el hijo acorde a su papa directo debe de ser: absolute
*/
@import url('https://fonts.googleapis.com/css?family=Raleway:200,700&display=swap');
* {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-weight: 200;

}

.container {
  position: relative;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  background: #f5f5f5;
}

header {
  background: #364f6b;
  width: 100vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  position: absolute;
  color: white;
  font-size: 40px;
}

h2{
  color: white;
  font-size: 30px;
}

section {
  width: 100%;
  background: #3fc1c9;
  height: 40vh;
}
#redes-sociales{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#redes-sociales a{
  color: #f5f5f5;
  text-decoration: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  display: block;
  padding: 10px;
}
#redes-sociales a:hover{
  color: #364f6b;
}
.sm-wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.sm-container{
  text-align: center;
  padding: 40px 84px;
}

footer {
  background: #fc5185;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.fun-containers{
  padding: 40px 100px;

}
.fun-facts-icons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
